* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

body {
  background-color: bisque;
}
nav {
  background-color: white;
  margin: 0 auto;
  height: 64px;
  width: 1330px;
  display: flex;
  align-items: center;
  color: black;
}
.navwrapper {
  height: 100px;
  width: 100%;
}

background image: linearGradient (black, dark blue)